// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-green: #8FFAC4;
$dark-green: #49F09D;
$dark-blue: #03256C;
$grey: #D6DAD8;

// logo colours
$logo-blue: #B5C7C1;
$logo-red: #BE3C58;
$banner-blue: #5d818f;
$banner-red: #b53653;

/// landingpage content
$lp-blue: #1A2E3D;

// navbar and footer
$bg-gray: #4c4c4c;

// landingpage
$lp-blue: #1A2E3D;

// schedule colors
$color1: #577F92;
$color2: #618DA1;
$color3: #443453;
$color4: #513E63;
$color5: #A2B9B2;
$color6: #B1C4BE;
$color7: #F6B067;
$color8: #F7BD7F;
$color9: #F6B067;
$color10: #BA324F;
$color11: #CCE6F4;
$color12: #D62839;
$color13: #CDD6D0;
