// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-green: #8FFAC4;
$dark-green: #49F09D;
$dark-blue: #03256C;
$grey: #D6DAD8;

//logo colours
$logo-lightblue: #a8edea;
$logo-darkblue: #090e47;
$logo-gray: #28303d;

$bg-lightrosa: #FFE6FA; //rgb 255,	230, 250
$bg-lightblue: #E3FDF5; // rgb 227, 253, 245