// Specific CSS for your home-page
  body {
    background: none;
    font-family: 'Montserra';
    color: white;
   }
   
   body.mylandingpage {
    height: 100vh;
    background-image: url("school.jpg");
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-size: cover; 
    margin-bottom: 30px;
   }
  
  a {
    text-decoration: none;
     &:hover {
      color: #393D3F;
      text-decoration: none;
    }
  }

  title {
    font-family: ZCOOL KuaiLe;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 56px;
  
    /* identical to box height */
    // text-align: center;
  
    color: #03256C;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.67);
  }
  
  .text-center {
    text-align: center;
  }
  
  // Buttons
  .btn-banner {
    display: inline-block;
    background-color: #649d66;
    padding: 16px 36px;
    border-radius: 3px;
    color: white;
    &:hover {
      color: white;
      background-color: #D6DAD8;
    }
  }
  
  .btn-login {
    display: inline-block;
    padding: 16px 36px;
    border-radius: 5px;
    color: white;
    background-color: #03256C;
    &:hover {
      color: white;
      background-color: #39375B;
    }
  }

  // Cards
  .card-login {

  }
