@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet');

.mainbody {
  background-image: asset-url("banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;

  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  color: white;
}

.mainbody * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainbody p {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
}

.mainbody h1 {
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.mainbody h2 {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: medium;
}

.mainbody h3 {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
}

  /* //////////////////////////////////////////// */

#headcontent {
  margin: auto !important;
}

.mainbody header {
  margin: 2% auto 0% auto;
  text-align: center;
  margin:0;

  p {
    letter-spacing: 0.05em;

    .logo {
      width: 40%;
      opacity: 0.95;
  }
  /* //////////////////////////////////////////// */

  .input-item {
      background: #fff;
      color: #333;
      padding: 14.5px 0px 15px 9px;
      border-radius: 5px 0px 0px 5px;
      opacity: 0.95;
    }
  }
}

.add-edit-form {
  background-color: #F7BD7F;
  width: 100%;
  max-width: 400px;
  padding:16px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

////////////////////////////////////////////

// .mainbody .con {
//   display: -webkit-flex;
//   display: flex;
//
//   -webkit-justify-content: space-around;
//   justify-content: space-around;
//
//   -webkit-flex-wrap: wrap;
//   flex-wrap: wrap;
//
//   margin: 0 auto;
// }

#maincontent {
  margin: auto !important;
}

.mainbody .textarea {
  width: 450px;
  min-height: 250px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  background-color: black;
  opacity: 60%;
  padding: 2%;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
/// login-form ///

.form-inputs {
  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.lg-label {
  display: inline-block;
  margin-bottom: 3px;
}

.lg-input {
  padding: 0.375rem 0.75rem;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
}

.rem-label {
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 6px;
}

.rem-input {
  position:relative;
  top:2px;
}
