@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet');

/////// body of landing page//////

.mainbody {
  position: relative;
  min-height: 100vh;
}

.mainbody * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

////// headlines content ///////

.banner {
  background-image: asset-url("banner_logo.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 700px;

  p, h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    color: white;
  }
}

.headcontent {
  margin: auto; 
  p, h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    color: white;
  }
}

.headcontent header {
  margin: 2% auto 0% auto;
  text-align: center;
  margin:0;

  p {
    letter-spacing: 0.05em;

    .logo {
      width: 40%;
      opacity: 0.95;
  }
  /* //////////////////////////////////////////// */

  .input-item {
      background: #fff;
      color: #333;
      padding: 14.5px 0px 15px 9px;
      border-radius: 5px 0px 0px 5px;
      opacity: 0.95;
    }
  }
}


p.headcontent {
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

h1.headcontent {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

//////// infobox and login form: maincontent on landing page ///////

.maincontent {
  margin: auto; 
}

.maincontent .textarea {
  width: 450px;
  min-height: 250px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  background-color: #1A2E3D;
  opacity: 90%;
  padding: 2%;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.maincontent p, h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
  color: white;
}

p.maincontent {
  font-size: 18px;
  font-weight: lighter;
}

h1.maincontent {
  font-size: 40px;
  font-weight: bold;
}

h2.maincontent {
  font-size: 20px;
  font-weight: medium;
}

h3.maincontent {
  font-size: 20px;
  font-weight: lighter;
}

///// login-form /////

.maincontent .form-inputs {
  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
  margin-bottom: 20px;
}

.maincontent .form-group {
  margin-bottom: 20px;
}

.maincontent .lg-label {
  display: inline-block;
  margin-bottom: 3px;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.maincontent .lg-input {
  padding: 0.375rem 0.75rem;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
}

.maincontent .rem-label {
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 6px;
  font-size: 14px;
  color: white;
  font-weight: lighter;
  font-family: 'Quicksand', sans-serif;
}

.maincontent .rem-input {
///  position:relative;
top:2px;
}

////// landing page content = description of flax tables and further information //////

.ldp-content {
  margin: auto;

  a, p, h1, h2, h3, hr {
  color: #1A2E3D;
  font-family: 'Quicksand', sans-serif;
  }
}

p.ldp-content {
  font-size: 18px;
  font-weight: lighter;
}

h1.ldp-content {
  font-size: 40px;
  font-weight: bold;
}

h2.ldp-content {
  font-size: 20px;
  font-weight: bold;
}

h3.ldp-content {
  font-size: 20px;
  font-weight: lighter;
}

.ldp-content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.ldp-content .line-wrapper {
  padding: 100px 0 40px 0;
  z-index: 0;
  margin: 0 auto;
}

//// blue banner with Lernbüro Header ////

// .ldp-content {
//   background-color: #1A2E3D;
//   height: 150px;
//   min-height: -moz-fit-content;
//   text-align: center;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   position: relative;
// }

.schoolsystem-banner {
  background-color: #1A2E3D;
  height: 50px;
  min-height: -moz-fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.schoolsystem-banner .sb-text {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.5;

  h1 {
    font-size: 40px;
    font-weight: 400;
  }
  
  h2 {
    font-size: 25px;
    font-weight: 300;
  }
}

///// short introduction about lernbüro system //////


.ft-description {
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
}

.ft-description .ft-text{
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #1A2E3D;
}

.ldp-content .line-wrapper {
  padding: 140px 0 80px 0;
  z-index: 0;
  margin: 0 auto;
  text-align: center;
}

////// how it works: cards with overview about lernbüro system //////

.hiw {
  margin: 0 auto;
  text-align: center;
}

h2.hiw-lw {
  font-size: 20px;
  font-weight: bold;
  color: #1A2E3D;
  font-family: 'Quicksand', sans-serif;
}

.hiw-text {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  margin: 10px;
  padding: 10px;
}

h2.hiw-text {
  font-size: 20px;
  font-weight: bold;
}

p.hiw-text {
  font-size: 18px;
  font-weight: 300;
}

.hiw .line-wrapper {
    padding: 140px 0 80px 0;
    z-index: 0;
    margin: 0 auto;
}

.hiw-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
}

.hiw-card {
  min-height: 450px;
  text-align: center;
  max-width: 350px;
  min-width: 200px;
  border-radius: 5px;
  height: auto;
  margin: 2% auto;
  background-color: white;

  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid #1A2E3D;
}

.hiw-card-header {
  background-color: #1A2E3D;
  color: white;
}

.hiw-card-info  {
  color: #1A2E3D;
  background-color: white;
}