@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet');

.impressum {
  min-height: 100vh;
  margin-top: 20px;
}

#impressum * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.imp-text {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.2;
  color: #1A2E3D;
}

p.imp-text {
  font-size: 16px;
  font-weight: medium;
}

h1.imp-text {
  font-size: 24px;
  font-weight: bold;
}

h2.imp-text {
    font-size: 18px;
    font-weight: bold;
  }

//////// this is a santi branch .. whooooo.. yoz can do as much as you want!!!