<h1>Here goes the time table</h1>
<div class="container-x">
  <% @spots.each do |spot| %>
    <% time_slot = @time_slots.find{ |ts| ts.weekly_period == spot.to_s } %>
    <% if time_slot.nil? %>
      <div class="weekly_spot"></div> <h1>Link to</h1>
    <% else %>
      <%= render 'shared/time_slot', title: time_slot.lesson.title %>
    <% end %>
  <% end %>
</div>
