<div class="footer">
  <div class="links">
    <a href="https://www.facebook.com"><i class="fab fa-fw fa-facebook-f"></i></a>
    <a href="https://github.com/monoamro/flextables"><i class="fab fa-fw fa-github"></i></a>
    <a href="https://www.twitter.com"><i class="fab fa-fw fa-twitter"></i></a>
    <a href="https://www.instagram.com"><i class="fab fa-fw fa-instagram"></i></a>
  </div>
  <div class="links m-3">
    <%= link_to "Impressum", impressum_path, class: "fot-link", target: :_blank %>
    <%= link_to "About", about_path, class: "fot-link", target: :_blank %>
  </div>
</div>
