<div class="footer">
  <div class="links">
    <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-fw fa-github"></i></a>
    <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
    <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
  </div>
  <div class="links m-3">
    <%= link_to "Impressum", class: "fot-link" %>
    <a href="#">Privacy</a>
    <a href="#">AGB</a>
    <a href="#">About us</a>
  </div>
</div>
