<div class="container about">
  <div class="about-text">
    <h1 class="about-text">About us</h1>
    <p class="about-text"> </p>
    <p class="about-text"> We are happy that you want to know more about us and we are already working on this content.<br>
        Unfortunately we still need a little more time working on it. So we therefore ask for your patience.</p>
        <br>
        <br>
    <p class="about-text">All the best,<br>
       Malte, Monti, Esther & Andy</p>
  </div>
</div>