<div id="about">
  <div class="imp-banner">
    <h1 class="imp-banner"><strong>About us</strong></h1>
  </div>
  <div class="imp-text">
  <p class="imp-text"> </p>
  <p class="imp-text">We are happy that you want to know more about us and we are already working on this content. 
                      Unfortunately we still need a little more time working on it. So we therefore ask for your patience.<br />
                      All the best,<br /> 
                      Malte, Monti, Esther & Andy</p>
  </div>
</div>