<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexTables</title>
   <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body class="body.mylandingpage">
    <h1>FlexTables</h1>
    <div class="footer">
      <div class="links">
        <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-fw fa-github"></i></a>
        <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
        <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      </div>
    </div>
  </body>
</html>
