<%= simple_form_for [@lesson] do |f| %>
  <!-- <div class="container-edit"> -->
    <!-- <div class="row justify-content-center"> -->
      <!-- <div class="col-md-6"> -->

          <div class="form-inputs text-center">
            <%= f.input :details, :input_html => {:rows => 2} %> <br>
            <%= f.input :homework, :input_html => {:rows => 6} %> <br>
          </div>
          <div class="center">
            <div class="form-actions text-center">
              <%= f.submit "Update lesson", class: "btn submits sign-up mt-5 mb-5" %>
            </div>
          </div>

      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<% end %>
