.navbar-lewagon {
  justify-content: space-between;
  background-color: black;
  opacity: 70%;
  // border: 1px solid #ced4da;
  // border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  margin: 30px;
}

.nav-item p {
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 8px;
}

.nav-item a {
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 8px;
}

.avatar {
  width: 50px;
  margin: 8px;
}

.dropdown-menu {
  background-color: black;
  opacity: 70%;
  color: white;
}

.dropdown-item {
  width: auto;
  background-color: black;
  opacity: 70%;
  color: white;
}