.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(227, 253, 245, 0.5);
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  margin: 30px;
}

.nav-item p {
  color: #3e403f;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 8px;
}

.nav-item a {
  color: #3e403f;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 8px;
}
