.headers {
  text-align: center;
  font-weight: bold;
  &.mobile-header {
    display: none;
  }
}

.lunch {
  text-align: center;
  background-color: red;
}

.period {
  text-align: center;
}

.free-slot {
  color: blue;
}

.hour {
  text-align: center;
}

@include media-breakpoint-down(sm) {
  .headers {
    display: none;
    &.mobile-header {
      display: block;
    }
  }

}
