#week {
  font-family:"helvetica", sans-serif;
  font-size:20px;
  text-align: center;
  padding-top:20px;
  margin-bottom: 0;
  color:black;
}
.empty {
  display: flex;
  justify-content: center;
  vertical-align: center;
  background-color: white;
  button {
    background-color: rgba(255,255,255,0);
    color: black;
    border: 0;
    font-family: "helvetica", sans-serif;
    font-weight: bold;
    font-size:16px;
    padding: 0 60px;

    .add-flex {
      padding: 33px;
    }

    #plus-sign {
      color: #00AF80;
    }

    &:hover {
      background-color: rgba(255,255,255,0);
      color: black;
      border: 0;
    }
    &:active {
      background-color: white;
      color: black;
      border: 0;
    }
  }
}

.form-inputs {
  #time_slot_lesson {
    width:400px;
    margin: 30px;
  }
}

#exampleModalLabel {
  font-family: "helvetica", sans-serif;
  font-weight:bold;
  padding: 20px;
}


.add-lesson {
  background-color: #00AF80;
  margin:2rem;
  color:white;
  font-family: "helvetica", sans-serif;
  font-size:16px;

}


.modal-dialog {
  max-width: 500px;
  margin: 26.7rem auto;
}

.lesson-show {
  font-family: "helvetica", sans-serif;
  .lesson-title {
    font-size:24px;
    font-weight:bold;
  }

  .lesson-details {
    font-size:16px;
    margin-top: 20px;
  }

  .homework-title {
    font-size:16px;
    font-weight:bold;
    margin-top: 20px;
  }

}
