
<%= @timeslots.each do |slot| %>
  <p><%= slot.id %></p>
 <% end %>


<!-- <div class="container">
  <h1>My timetable</h1>
  <br>
  <div class="container wrapper">

    <div class="container">

      <div class="row">
        <div class="col-sm-2">
          <h4></h4>
        </div>
        <div class="col-sm-2 day">
          <h4>Monday</h4>
        </div>
        <div class="col-sm-2 day">
          <h4>Tuesday</h4>
        </div>
        <div class="col-sm-2 day">
          <h4>Wednesday</h4>
        </div>
        <div class="col-sm-2 day">
          <h4>Thursday</h4>
        </div>
        <div class="col-sm-2 day">
          <h4>Friday</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 period">
          <h4> 8 am </h4>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Math</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 101</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>English</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 102</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>German</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 103</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Physics</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 104</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Geography</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 105</p></div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 period">
          <h4>9 am</h4>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>PE</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 106</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Chemistry</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 107</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>French</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 108</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Spanish</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 109</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Art</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 110</p></div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 period">
          <h4>10 am</h4>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Science</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 106</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Astronomy</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 107</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Russian</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 108</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>English</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 109</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Math</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 110</p></div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 period">
          <h4>11 am</h4>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Portugese</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 106</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Music</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 107</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Computer Science</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 108</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Philosophy</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 109</p></div>
        </div>
        <div class="col-sm-2 timeslot">
          <h5>Religion</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 110</p></div>
        </div>
      </div>
    </div>
    <div id = "flextables" >
      <h3>Flextables</h3>
        <div class="tables"></div>
          <h5>Religion</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 110</p>
        </div>
        <div class="tables"></div>
          <h5>Religion</h5>
          <div class = 'teacherroom'><p>Mr. Lee</p><p>Room 110</p>
        </div>
    </div>
  </div>
</div>
 -->
